
@import "~bootstrap/scss/bootstrap";
html,
body {
  background-color: #282c34;
  color: whitesmoke;
}

.card {
  width: 12rem;
  margin-top: 30px;
  background-color: #282c34;
}

.card-title {
  font-size: 1.1rem;
}

.card-title:hover {
  text-decoration: underline;
}

.card-subtitle {
  font-size: .75rem;
  color: grey;
  text-decoration: none; 
}

a:hover {
  text-decoration: none;
}

img:hover {
  opacity: 70%;
}
 
.player {
  width: 100%;
  height: 100%;
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  background-color: black;
}
