.image {
    opacity: 1;
    height: 17.75rem;
    transition: .25s ease;
    backface-visibility: hidden;
  }
  
.overlay {
    transition: .25s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -125%);
    -ms-transform: translate(-50%, -125%);
    text-align: center;
    text-decoration: none;
    height: 60px;
    width: 60px;
 }
  
 .image-container:hover .image {
    opacity: 0.6;
 }
  
.image-container:hover .overlay {
    text-decoration: none;
    color: whitesmoke;
    opacity: 1;
}

.card {
    width: 12rem;
    margin-top: 30px;
    background-color: #282c34;
}

.card-title {
    font-size: 1.1rem;
}
  
.card-title:hover {
    text-decoration: underline;
}

.card-subtitle {
    font-size: .75rem;
    color: grey;
    text-decoration: none; 
}

a:hover {
    text-decoration: none;
}