.image {
    opacity: 1;
    transition: .25s ease;
    backface-visibility: hidden;
  }
  
.icon {
    font-size: 100px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
    height: 75px;
 }

 .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .3s ease;
 }

 .image-container {
     position: relative;
     width: 100%;
 }
  
 .image-container:hover .image {
    opacity: 0.6;
 }
  
.image-container:hover .overlay {
    text-decoration: none;
    color: whitesmoke;
    opacity: 1;
}